.body
{
    background-color: white;
}
.btns{
 background-color: #f4f0ea;
 border-radius: 12px;

}
/* .table:nth-of-type(odd){
  background-color: #A9A9A9;

}
.table:nth-of-type(even){
    background-color: white;
  
  } */
