/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .container {
    padding: 2px 16px;
  } */

  /* .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin: 20px;
    background-color:#FFF;
    float: left;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:150px;
    height: 150px;
    margin: auto;
  } */

  .img{
    height:250px;
    width:100%;
    display: block;
    border-radius: 25px;

  }
  
  .item{
    padding-left:5px;
    padding-right:5px;
    margin: 20px;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
    border-radius: 25px;

  }
  .item-card-bookname{
    transition:1s;
    cursor:pointer;
    color:#525644;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 35px; font-style: normal; font-variant: small-caps; font-weight: 800; line-height: 30px;

  }
  .item-card-bookdis{
    transition:1s;
    cursor:pointer;
    color:#5f6646;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px; font-style: normal; font-variant: small-caps; font-weight: 800; line-height: 30px;

  }
  .item-card-title{  
    transition:1s;
    cursor:pointer;
    color:#525644;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px; font-style: normal; font-variant: small-caps; font-weight: 800; line-height: 30px;
  }
  .name-item{
    transition:1s;
    cursor:pointer;
    color:#899b48;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 35px; font-style: normal; font-variant: small-caps; font-weight: 800; line-height: 30px;
  }
  .info{
    transition:1s;
    cursor:pointer;
    color:#525644;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px; font-style: normal; font-variant: small-caps; font-weight: 800; line-height: 30px;
  }
  .grad {
    height: 100px;
    color:#525644;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 45px; font-style: normal; font-variant: small-caps; font-weight: 800;
    background-image: linear-gradient(#C5C9B8, #F3F3F7,#F3F3F7, #C5C9B8);
  }
  .item-card-title i{  
    /* font-size:20px; */
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    border-radius: 25px;

    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 25px;

  }
  .card-text{
    height:80px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    border-radius: 25px;

  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
    border-radius: 25px;

  }
  .i-am-centered {
    text-align: center;
    background-color: #C5C9B8;
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;

    }

  .boy{
    justify-content: space-around;
    display: flex;
    float: none;
    margin-top: 45px;
    }
#boys{
  color: red;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color: #f0f0f0;
  font-family: roboto;
}
.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}


.center-1{
  background-color: #C5C9B8;
}

.buttonsSpan {
  margin: 3px;
  margin-bottom: 10px;
}